---
import Layout from "@layouts/Layout.astro";
import teamMembers from "@components/team/TeamMembers";
import VCF from "@components/team/VCF";

export function getStaticPaths() {
  return [
    { params: { id: "Juan" } },
    { params: { id: "Karen" } },
    { params: { id: "Yaz" } },
    { params: { id: "Kevin" } },
    { params: { id: "Jesus" } },
    { params: { id: "Carlos" } },
  ];
}

const { id } = Astro.params;

const member = teamMembers.find((member) => {
  const memberMap = {
    Kevin: 1,
    Karen: 2,
    Yaz: 3,
    Juan: 4,
    Jesus: 5,
    Carlos: 6,
  };
  return member.id === memberMap[id];
});
---

<Layout title={`Team - ${id}`}>
  <section
    class="container mx-auto p-4 grid grid-cols-1 md:grid-cols-3 px-8 gap-8"
  >
    <div class="md:col-span-3 mb-4 hidden md:block">
      <a
        href="javascript:history.back()"
        class="flex items-center text-[#861453] hover:text-[#861453]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"></path>
        </svg>
        Volver
      </a>
    </div>
    <div
      class="col-span-1 flex flex-col items-center space-y-4 border-2 border-[#861453] p-4 rounded-lg shadow-md"
    >
      <img
        src={member.image}
        transition:name={member.transition}
        class="h-80 w-80 object-cover rounded-full shadow-lg border-2 border-[#861453]"
      />
      <h1 class="text-3xl font-bold text-center text-[#861453]">
        {member.fullName}
      </h1>
      <div class="text-lg">
        <strong>Puesto:</strong>
        <span class="text-[#861453] font-semibold">{member.role}</span>
      </div>
      <div class="text-lg">
        <strong>Habilidades:</strong>
        <span class="text-[#861453] font-semibold">{member.skills}</span>
      </div>
      <div class="text-lg">
        <strong>Experiencia:</strong>
        <span class="text-[#861453] font-semibold">{member.experience}</span>
      </div>
      <div class="text-lg">
        <strong>Educación:</strong>
        <span class="text-[#861453] font-semibold">{member.education}</span>
      </div>
      <div class="text-lg">
        <strong>Contacto:</strong>
        <span class="text-[#861453] font-semibold">{member.contact}</span>
      </div>
    </div>
    <div class="col-span-2 space-y-8">
      <div>
        <h2 class="font-bold text-lg mb-2">Acerca de {member.fullName}</h2>
        <p class="text-justify">{member.bio}</p>
      </div>
      <div>
        <h2 class="font-bold text-lg mb-2">Proyectos Recientes</h2>
        <ul class="list-disc list-inside">
          {member.proyecto && <li class="text-justify">{member.proyecto}</li>}
          {member.proyecto2 && <li class="text-justify">{member.proyecto2}</li>}
          {member.proyecto3 && <li class="text-justify">{member.proyecto3}</li>}
          {member.proyecto4 && <li class="text-justify">{member.proyecto4}</li>}
          {member.proyecto5 && <li class="text-justify">{member.proyecto5}</li>}
          {member.proyecto6 && <li class="text-justify">{member.proyecto6}</li>}
          {member.proyecto7 && <li class="text-justify">{member.proyecto7}</li>}
          {member.proyecto8 && <li class="text-justify">{member.proyecto8}</li>}
        </ul>
        <div>
          <h2 class="font-bold text-lg mb-2">Educación</h2>
          <ul class="list-disc list-inside">
            {member.edu && <li class="text-justify">{member.edu}</li>}
            {member.edu2 && <li class="text-justify">{member.edu2}</li>}
          </ul>
        </div>
        <div>
          <h2 class="font-bold text-lg mb-2">Testimonios</h2>
          {
            member.testimonio && (
              <blockquote class="border-l-4 border-[#861453] pl-4 italic text-justify">
                {member.testimonio}
              </blockquote>
            )
          }
          {
            member.testimonio2 && (
              <blockquote class="border-l-4 border-[#861453] pl-4 italic text-justify mt-4">
                {member.testimonio2}
              </blockquote>
            )
          }
        </div>
        {
          /*
      <div>

        <h2 class="font-bold text-lg mb-2">Publicaciones</h2>
        <ul class="list-disc list-inside">
          <li class="text-justify">{member.publi}</li>
          <li class="text-justify">{member.publi2}</li>
          <li class="text-justify">{member.publi3}</li>
        </ul>
      </div>
      */
        }
      </div>
    </div>
    <VCF member={member} client:visible />
  </section>
</Layout>
