---
import Layout from "@layouts/Layout.astro";
import VCF from "@components/team/VCF";
import teamMembers from "@components/team/TeamMembers";
export function getStaticPaths() {
  return [
    { params: { id: "Juan-Manuel-Gonzalez-Castillo" } },
    { params: { id: "Karen-Valdez-Macias" } },
    { params: { id: "Yazmin-Guardado-Mendez" } },
    { params: { id: "Kevin-Ortega-Okhuysen" } },
    { params: { id: "Juan-Carlos-Guerrero-Castro" } },
    { params: { id: "Jesus-Emmanuel-Castillo-Martinez" } },
    { params: { id: "Maria-Jose-Zuili-Almanza" } },
  ];
}

const { id } = Astro.params;

const URL = Astro.url;

const member = teamMembers.find((member) => {
  const memberMap = {
    "Kevin-Ortega-Okhuysen": 1,
    "Karen-Valdez-Macias": 2,
    "Yazmin-Guardado-Mendez": 3,
    "Juan-Manuel-Gonzalez-Castillo": 4,
    "Juan-Carlos-Guerrero-Castro": 5,
    "Jesus-Emmanuel-Castillo-Martinez": 6,
    "Maria-Jose-Zuili-Almanza": 7,
  };
  return member.id === memberMap[id];
});
---

<Layout title={`Team - ${id}`}>
  <section
    class="container mx-auto p-4 grid grid-cols-1 md:grid-cols-3 px-8 gap-8"
  >
    <div class="md:col-span-3 mb-4 hidden md:block">
      <a href="/" class="flex items-center text-[#861453] hover:text-[#861453]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"></path>
        </svg>
        Volver
      </a>
    </div>
    <div
      class="col-span-1 flex flex-col items-center space-y-4 border-2 border-[#861453] p-4 rounded-lg shadow-md"
    >
      <img
        src={member.image}
        transition:name={member.transition}
        class="h-80 w-80 object-cover rounded-full shadow-lg border-2 border-[#861453]"
      />
      <h1 class="text-3xl font-bold text-center text-[#861453]">
        {member.fullName}
      </h1>
      <div class="text-lg">
        <strong>Puesto:</strong>
        <span class="text-[#861453] font-semibold">{member.role}</span>
      </div>
      <div class="text-lg">
        <strong>Habilidades:</strong>
        <span class="text-[#861453] font-semibold">{member.skills}</span>
      </div>
      {
        member.experience && (
          <div class="text-lg">
            <strong>Experiencia:</strong>
            <span class="text-[#861453] font-semibold">
              {member.experience}
            </span>
          </div>
        )
      }
      <div class="text-lg">
        <strong>Educación:</strong>
        <span class="text-[#861453] font-semibold whitespace-pre-wrap"
          >{member.education}</span
        >
      </div>
      <div class="text-lg">
        <strong>Contacto:</strong>
        <span class="text-[#861453] font-semibold">{member.contact}</span>
      </div>
    </div>
    <div class="col-span-2 space-y-8">
      {
        member.extendedDescription && (
          <div>
            <h2 class="font-bold text-lg mb-2">Acerca de {member.fullName}</h2>
            <p class="text-justify mb-4">{member.extendedDescription}</p>
            <p class="text-justify">{member.extendedDescription2}</p>
          </div>
        )
      }

      <div>
        <h2 class="font-bold text-lg mb-2">Habilidades Detalladas</h2>
        <pre class="whitespace-pre-wrap" set:html={member.detailedSkills} />
      </div>

      <div>
        <h2 class="font-bold text-lg mb-2">
          ¿Qué significa trabajar con {member.name}?
        </h2>
        <p class="text-justify">{member.workEthic}</p>
      </div>

      {
        member.additionalDetails?.funFacts && (
          <div>
            <h2 class="font-bold text-lg mb-2">Datos divertidos</h2>
            <ul class="list-disc list-inside">
              {member.additionalDetails.funFacts.map((fact) => (
                <li class="text-justify">{fact}</li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
    <VCF member={member} client:visible currentURL={URL} />
  </section>
</Layout>
