---
import Layout from "@layouts/Layout.astro";
import VCF from "@components/team/VCF";

export function getStaticPaths() {
  return [
    { params: { id: "Juan" } },
    { params: { id: "Karen" } },
    { params: { id: "Yaz" } },
    { params: { id: "Kevin" } },
    { params: { id: "Jesus" } },
    { params: { id: "Carlos" } },
  ];
}

const { id } = Astro.params;

const URL = Astro.url;

const teamMembers = [
  {
    id: 1,
    bio: null,
    image: "/team1.webp",
    name: "Kevin",
    fullName: "Kevin Ortega",
    role: "Full-Stack Developer",
    skills: "React, Node, Express",
    experience: "5 años de experiencia",
    transition: "imagen1",
    education: "Lic. Tecnologías en Sistemas Inteligentes",
    contact: "664 642 9633",
    proyecto: "E-commetrica, Developer Full-Stack.",
    proyecto2:
      "Cenyca Universidad, Desarrollador de plataforma para estudiantes, maestros y control escolar.",
    proyecto3: null,
    edu: "Lic. Tecnologías en Sistemas Inteligentes.",
    edu2: null,
    testimonio:
      "Kevin es un Developer excepcional. Su habilidad para estructurar proyectos de manera eficiente con herramientas innovadoras marcó una gran diferencia en nuestro proyecto.",
    testimonio2:
      "Trabajar con Kevin fue una experiencia increíble. Su dominio web nos permitió desarrollar una aplicación completamente funcional inclusive aun antes del tiempo de entrega. Siempre estuvo disponible para resolver dudas y aportó ideas innovadoras que mejoraron nuestro producto final.",
    description:
      " Kevin es versátil  para facilitar y agilizar procesos de  programación para que tu sitio web sea funcional y atractivo.",
  },
  {
    id: 2,
    image: "/team2.webp",
    name: "Karen",
    fullName: "Karen Valdez",
    role: "Editor & Copywriter",
    skills: "Editor, Copywriter, Content Creator",
    transition: "imagen2",
    experience: "5 años de experiencia",
    education: "Lic. en Comunicación y Publicidad",
    contact: "664 642 9633",
    proyecto5: "Websense MX, Copywriter.",
    proyecto4: "Imprex Digital, Asistente general.",
    proyecto3: "Distribuidora Landys, Ventas web.",
    proyecto2: "HERFAVE, Comunnity manager y ventas.",
    proyecto: "E-commetrica, Copywriter y editor de videos.",
    edu: "Lic. en Comunicación y Publicidad.",
    testimonio:
      "Su capacidad para transformar ideas en palabras que conectan con el público es impresionante. Trabajar con ella fue fundamental para darle vida a nuestro contenido y asegurarnos de que nuestra marca tuviera un impacto.",
    testimonio2:
      "Karen es una profesional con un gran ojo para los detalles. Siempre sabe cómo captar la esencia de lo que estamos comunicando y lo presenta de una manera única y efectiva.",
    description:
      " Karen es una creativa que elevar la voz de tu proyecto para atraer clientes y maximizar su crecimiento.",
  },
  {
    id: 3,
    image: "/team3.webp",
    name: "Yaz",
    fullName: "Yazmin Guardado",
    role: "Ux /Ui Designer",
    skills: "Ux / Ui, Branding, Publicidad",
    transition: "imagen3",
    experience: "14 años de experiencia",
    education: "Lic. Diseño Grafico Digital y Marketing",
    contact: "664 642 9633",
    proyecto: "E-commetrica, Diseñador Ux / Ui y branding.",
    proyecto2: "Academia Lean Sigma, Diseñador senior y community manager.",
    proyecto3: "Alternativa 19 del Sur, Diseñador senior y marketing.",
    proyecto4: "HighBits, Diseñador Jr.",
    edu: "Lic. Diseño Tradicional y Psicología del diseño.",
    edu2: "Lic. Diseño Grafico Digital y Marketing.",
    testimonio:
      "Trabajar con Yazmin fue un placer. Tiene una increíble capacidad para entender lo que necesita el usuario y traducirlo en diseños visuales que no solo son atractivos, sino también fáciles de usar. Su trabajo ha hecho que nuestra plataforma sea mucho más intuitiva y agradable para los usuarios.",
    testimonio2:
      "Yazmin tiene un don para el diseño. Su atención al detalle y su capacidad para transformar ideas en interfaces limpias y funcionales realmente marcan la diferencia. Siempre tiene en cuenta la experiencia del usuario, lo que hace que el producto final sea impecable.",
    description:
      "Yaz es una experta en experiencia de usuario con diseños creativos que logran atraer y cumplir las metas de tu negocio.",
  },
  {
    id: 4,
    image: "/team4.webp",
    name: "Juan",
    fullName: "Juan M. González",
    role: "CEO & Consultor",
    skills: "WebMaster, Project Manager, Ecommerce",
    transition: "imagen4",
    experience: "8 años de experiencia",
    education: "Mtro. Economía Aplicada",
    contact: "664 642 9633",
    proyecto: "E-commetrica, Consultor de ecommerce y desarrollador web.",
    proyecto2:
      "Border Grower, Director de ecommerce y programador en R y Liquid.",
    proyecto3: "Digital Lab Agency, Dearrollador de ecommerce.",
    proyecto4: "Guarantee Solar, Especialista de mercadotecnia digital.",
    edu: "Lic. Negocios Internacionales.",
    edu2: "Mtr. Economía Aplicada.",
    testimonio:
      "Juan es un experto en ecommerce y desarrollo web, ha trabajado en proyectos de gran envergadura y ha logrado posicionar marcas en el mercado digital.",
    testimonio2:
      "Su experiencia en el desarrollo de ecommerce y su habilidad para posicionar marcas en el mercado digital lo hacen un experto en el área.",
    description:
      "Juan es experto en SEO, optimiza el posicionamiento y el cosistema digital para que tu negocio crezca.",
  },
  {
    id: 5,
    image: "/team4.webp",
    name: "Jesus",
    fullName: "Juan M. González",
    role: "CEO & Consultor",
    skills: "WebMaster, Project Manager, Ecommerce",
    transition: "imagen4",
    experience: "8 años de experiencia",
    education: "Mtr. Economía Aplicada",
    contact: "664 642 9633",
    proyecto: "E-commetrica, Consultor de ecommerce y desarrollador web.",
    proyecto2:
      "Border Grower, Director de ecommerce y programador en R y Liquid.",
    proyecto3: "Digital Lab Agency, Dearrollador de ecommerce.",
    proyecto4: "Guarantee Solar, Especialista de mercadotecnia digital.",
    edu: "Lic. Negocios Internacionales.",
    edu2: "Mtr. Economía Aplicada.",
    testimonio:
      "Juan es un experto en ecommerce y desarrollo web, ha trabajado en proyectos de gran envergadura y ha logrado posicionar marcas en el mercado digital.",
    testimonio2:
      "Su experiencia en el desarrollo de ecommerce y su habilidad para posicionar marcas en el mercado digital lo hacen un experto en el área.",
    description:
      "Juan es experto en SEO, optimiza el posicionamiento y el cosistema digital para que tu negocio crezca.",
  },
  {
    id: 6,
    image: "/team4.webp",
    name: "Carlos",
    fullName: "Juan Carlos",
    role: "CEO & Consultor",
    skills: "WebMaster, Project Manager, Ecommerce",
    transition: "imagen4",
    experience: "8 años de experiencia",
    education: "Mtr. Economía Aplicada",
    contact: "664 642 9633",
    proyecto: "E-commetrica, Consultor de ecommerce y desarrollador web.",
    proyecto2:
      "Border Grower, Director de ecommerce y programador en R y Liquid.",
    proyecto3: "Digital Lab Agency, Dearrollador de ecommerce.",
    proyecto4: "Guarantee Solar, Especialista de mercadotecnia digital.",
    edu: "Lic. Negocios Internacionales.",
    edu2: "Mtr. Economía Aplicada.",
    testimonio:
      "Juan es un experto en ecommerce y desarrollo web, ha trabajado en proyectos de gran envergadura y ha logrado posicionar marcas en el mercado digital.",
    testimonio2:
      "Su experiencia en el desarrollo de ecommerce y su habilidad para posicionar marcas en el mercado digital lo hacen un experto en el área.",
    description:
      "Juan es experto en SEO, optimiza el posicionamiento y el cosistema digital para que tu negocio crezca.",
  },
];

const member = teamMembers.find((member) => {
  const memberMap = {
    Kevin: 1,
    Karen: 2,
    Yaz: 3,
    Juan: 4,
    Jesus: 5,
    Carlos: 6,
  };
  return member.id === memberMap[id];
});
---

<Layout title={`Team - ${id}`}>
  <section
    class="container mx-auto p-4 grid grid-cols-1 md:grid-cols-3 px-8 gap-8"
  >
    <div class="md:col-span-3 mb-4 hidden md:block">
      <a
        href="javascript:history.back()"
        class="flex items-center text-[#861453] hover:text-[#861453]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"></path>
        </svg>
        Volver
      </a>
    </div>
    <div
      class="col-span-1 flex flex-col items-center space-y-4 border-2 border-[#861453] p-4 rounded-lg shadow-md"
    >
      <img
        src={member.image}
        transition:name={member.transition}
        class="h-80 w-80 object-cover rounded-full shadow-lg border-2 border-[#861453]"
      />
      <h1 class="text-3xl font-bold text-center text-[#861453]">
        {member.fullName}
      </h1>
      <div class="text-lg">
        <strong>Puesto:</strong>
        <span class="text-[#861453] font-semibold">{member.role}</span>
      </div>
      <div class="text-lg">
        <strong>Habilidades:</strong>
        <span class="text-[#861453] font-semibold">{member.skills}</span>
      </div>
      <div class="text-lg">
        <strong>Experiencia:</strong>
        <span class="text-[#861453] font-semibold">{member.experience}</span>
      </div>
      <div class="text-lg">
        <strong>Educación:</strong>
        <span class="text-[#861453] font-semibold">{member.education}</span>
      </div>
      <div class="text-lg">
        <strong>Contacto:</strong>
        <span class="text-[#861453] font-semibold">{member.contact}</span>
      </div>
    </div>
    <div class="col-span-2 space-y-8">
      {
        member.bio && (
          <div>
            <h2 class="font-bold text-lg mb-2">Acerca de {member.fullName}</h2>
            <p class="text-justify">{member.bio}</p>
          </div>
        )
      }

      <div>
        <h2 class="font-bold text-lg mb-2">Proyectos Recientes</h2>
        <ul class="list-disc list-inside">
          {member.proyecto && <li class="text-justify">{member.proyecto}</li>}
          {member.proyecto2 && <li class="text-justify">{member.proyecto2}</li>}
          {member.proyecto3 && <li class="text-justify">{member.proyecto3}</li>}
          {member.proyecto4 && <li class="text-justify">{member.proyecto4}</li>}
          {member.proyecto5 && <li class="text-justify">{member.proyecto5}</li>}
        </ul>
        <div>
          <h2 class="font-bold text-lg mb-2">Educación</h2>
          <ul class="list-disc list-inside">
            {member.edu && <li class="text-justify">{member.edu}</li>}
            {member.edu2 && <li class="text-justify">{member.edu2}</li>}
          </ul>
        </div>
        <div>
          <h2 class="font-bold text-lg mb-2">Testimonios</h2>
          {
            member.testimonio && (
              <blockquote class="border-l-4 border-[#861453] pl-4 italic text-justify">
                {member.testimonio}
              </blockquote>
            )
          }
          {
            member.testimonio2 && (
              <blockquote class="border-l-4 border-[#861453] pl-4 italic text-justify mt-4">
                {member.testimonio2}
              </blockquote>
            )
          }
        </div>
        {
          /*
      <div>

        <h2 class="font-bold text-lg mb-2">Publicaciones</h2>
        <ul class="list-disc list-inside">
          <li class="text-justify">{member.publi}</li>
          <li class="text-justify">{member.publi2}</li>
          <li class="text-justify">{member.publi3}</li>
        </ul>
      </div>
      */
        }
      </div>
    </div>
    <VCF member={member} client:visible URL={URL} />
  </section>
</Layout>
