---
import { packages } from "./package/Packages";
---

<section
  class="bg-[#F4F4FF] flex text-center p-16 flex-col scroll-mt-20"
  id="package"
>
  <h1 class="text-[#861453] text-2xl font-normal mb-4">
    Conoce nuestros paquetes
  </h1>
  <h2 class="text-[#861453] font-bold text-3xl md:text-4xl mb-16">
    E-commerce Meticulosamente Valorado
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-4 py-8 px-4 gap-8">
    {
      packages.map((item) => (
        <div class=" p-4 bg-white md:w-72 rounded-xl border">
          <div class="border border-[#861453]  py-4 px-2">
            <h1 class="text-[#861453] mb-2 text-2xl font-bold py-4">
              {item.title}
            </h1>
            <p class="mb-4">{item.description}</p>
            <p class="font-bold text-5xl">{item.price}</p>
            <p class=" mb-8">{item.time}</p>

            <a
              href="/api/calendar"
              class="border font-bold border-[#861453] px-12 py-1 mb-4 rounded-lg
            hover:bg-[#861453] hover:text-white
            "
            >
              Ver
            </a>
            <p class="py-4">{item.info}</p>
          </div>
        </div>
      ))
    }
  </div>
  <!-- <div class="flex justify-center items-center">
    <a href="/packages">
      <button
        class="border font-bold border-[#861453] px-12 py-1 mb-4 rounded-lg
            hover:bg-[#861453] hover:text-white"
      >
        ir a paquetes dinamicos
      </button>
    </a>
  </div> -->
</section>
