---
import Layout from "src/layouts/Layout.astro";
import { fade } from "astro:transitions";
import AnimationImage from "@components/condor/AnimationImage";

let services = [
  {
    title: "Deportes en vivo",
    image: "/condor/deportivos.png",
    description:
      "Disfruta de cada jugada desde ángulos únicos: atletismo, natación, gimnasia, boxeo, fútbol, básquetbol, béisbol, tenis y más. No solo veas el resultado, sigue la acción completa como si estuvieras dentro del campo.",
  },
  {
    title: "Conciertos y espectáculos",
    image: "/condor/conciertos.png",
    description:
      "Revive la energía de tus artistas favoritos desde cualquier lugar. Vive la experiencia como si estuvieras en primera fila, con sonido e imagen de máxima calidad.",
  },
  {
    title: "Eventos académicos",
    image: "/condor/escolares.png",
    description:
      "Captura cada momento importante: graduaciones, festivales, conferencias y presentaciones. Conserva recuerdos inolvidables desde diferentes perspectivas.",
  },
  {
    title: "Turismo y excursiones",
    image: "/condor/excursiones.png",
    description:
      "Explora destinos naturales y culturales con tomas envolventes que te muestran cada rincón, transmitiendo toda la esencia del lugar.",
  },
  {
    title: "Celebraciones sociales",
    image: "/condor/sociales.png",
    description:
      "Bodas, aniversarios y reuniones familiares vistos desde ángulos creativos. Cada instante plasmado de forma única para revivirlo una y otra vez.",
  },
  {
    title: "Eventos masivos",
    image: "/condor/publicos.png",
    description:
      "Monitorea y organiza actividades de gran escala con vistas panorámicas que ofrecen control, seguridad y una cobertura completa del espacio.",
  },
  {
    title: "Marketing y publicidad",
    image: "/condor/publicidad.png",
    description:
      "Diferénciate con material visual innovador que atraiga a tu público. Imágenes aéreas que generan impacto y aumentan el alcance de tus campañas.",
  },
  {
    title: "Operaciones y rescate",
    image: "/condor/rescate.png",
    description:
      "Optimiza rutas y agiliza procesos en situaciones críticas. Observa desde el aire para mejorar tiempos de respuesta y coordinar acciones.",
  },
  {
    title: "Construcción e ingeniería",
    image: "/condor/construccion.png",
    description:
      "Supervisa obras de manera segura y eficiente. Revisa avances, instalaciones y estructuras desde ángulos imposibles con una vista clara y detallada.",
  },
  {
    title: "Cobertura total",
    image: "/condor/cobertura.png",
    description:
      "Nuestra tecnología se adapta a cualquier tipo de evento o proyecto, brindando una visión integral en cualquier lugar.",
  },
  {
    title: "Competencias automovilísticas",
    image: "/condor/carreras.png",
    description:
      "Sigue cada vuelta y cada movimiento en la pista. Obtén una visión completa de la carrera, desde la salida hasta el momento final.",
  },
];
---

<Layout title="TheCondorVision - Service">
  <main
    transition:animate={fade({ duration: "0.8s" })}
    style={{
      backgroundImage: "url('/condor/fondo.png')",
      backgroundPosition: "center",
      backgroundRepeat: "no-repeat",
      backgroundSize: "cover",
    }}
  >
    <a
      href="/condor/"
      class="fixed top-4 right-4 w-8 h-8 hover:text-white text-blue-600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-x"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M18 6l-12 12"></path><path d="M6 6l12 12"></path></svg
      >
    </a>
    <div class="grid grid-cols-1 md:grid-cols-2 px-16 py-8 md:h-screen">
      <div class="mask">
        <AnimationImage
          image="/condor/services.png"
          className=""
          initial={{ scale: 0 }}
          animate={{ scale: 1 }}
          transition={{ duration: 0.5 }}
          client:load
        />
      </div>
      <div class="w-[90%]">
        <h1 class="text-[20px] text-[#2D83C3] font-bold mb-4">SERVICIOS</h1>
        <h2 class="text-[#FAFBFF] text-[35px] font-normal mb-8">
          Innovación a tu alcance
        </h2>
        <p class="font-semibold text-[#A8A9AC] text-[14px] mb-8">
          Experimenta imágenes en ultra alta definición con un campo de visión
          amplio y envolvente. Cada toma transmite realismo y calidad,
          llevándote más cerca de la acción.
        </p>
        <div class="services-container md:block hidden">
          {
            services.map((item, index) => (
              <>
                <div class="flex gap-2 text-white py-4 ">
                  <img src={item.image} alt={item.title} class="size-12" />
                  <div class="flex-col">
                    <h1 class="mb-4">{item.title}</h1>
                    <p class="mb-2 text-[#A8A9AC]">{item.description}</p>
                  </div>
                </div>
                <hr class="w-full" />
              </>
            ))
          }
        </div>
        <div class="block md:hidden">
          {
            services.map((item, index) => (
              <>
                <div class="flex gap-2 text-white py-4 ">
                  <img src={item.image} alt={item.title} class="size-12" />
                  <div class="flex-col">
                    <h1 class="mb-4">{item.title}</h1>
                    <p class="mb-2 text-[#A8A9AC]">{item.description}</p>
                  </div>
                </div>
                <hr class="w-full" />
              </>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .mask {
    mask-image: linear-gradient(to left, black 80%, transparent);
  }
  .services-container {
    max-height: calc(4 * 6rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #2d83c3 #f5f5f5;
  }
  .services-container::-webkit-scrollbar {
    width: 8px;
  }
  .services-container::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  .services-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 3px solid #f5f5f5;
  }
</style>
