---
import Layout from "@layouts/Layout.astro";
import VCF from "@components/team/VCF";

export function getStaticPaths() {
  return [
    { params: { id: "Juan" } },
    { params: { id: "Karen" } },
    { params: { id: "Yaz" } },
    { params: { id: "Kevin" } },
    { params: { id: "Jesus" } },
    { params: { id: "Carlos" } },
  ];
}
const { id } = Astro.params;
const teamMembers = [
  {
    id: 1,
    bio: null,
    image: "/team1.webp",
    name: "Kevin",
    fullName: "Kevin Ortega",
    role: "Full-Stack Developer",
    skills: "React, Node, Express",
    experience: "5 years of experience",
    transition: "image1",
    education: "Bachelor's in Intelligent Systems Technologies",
    contact: "664 642 9633",
    proyecto: "E-commetrica, Full-Stack Developer.",
    proyecto2:
      "Cenyca University, Developer of a platform for students, teachers, and school administration.",
    proyecto3: null,
    edu: "Bachelor's in Intelligent Systems Technologies.",
    edu2: null,
    testimonio:
      "Kevin is an exceptional Developer. His ability to structure projects efficiently using innovative tools made a significant difference in our project.",
    testimonio2:
      "Working with Kevin was an incredible experience. His web expertise allowed us to develop a fully functional application even before the deadline. He was always available to answer questions and contributed innovative ideas that improved our final product.",
    description:
      "Kevin is versatile in facilitating and streamlining programming processes to make your website functional and attractive.",
  },
  {
    id: 2,
    image: "/team2.webp",
    name: "Karen",
    fullName: "Karen Valdez",
    role: "Editor & Copywriter",
    skills: "Editor, Copywriter, Content Creator",
    transition: "image2",
    experience: "5 years of experience",
    education: "Bachelor's in Communication and Advertising",
    contact: "664 642 9633",
    proyecto5: "Websense MX, Copywriter.",
    proyecto4: "Imprex Digital, General Assistant.",
    proyecto3: "Distribuidora Landys, Web Sales.",
    proyecto2: "HERFAVE, Community Manager and Sales.",
    proyecto: "E-commetrica, Copywriter and Video Editor.",
    edu: "Bachelor's in Communication and Advertising.",
    testimonio:
      "Her ability to transform ideas into words that connect with the audience is impressive. Working with her was essential to bringing our content to life and ensuring our brand had an impact.",
    testimonio2:
      "Karen is a professional with a great eye for detail. She always knows how to capture the essence of what we are communicating and presents it in a unique and effective way.",
    description:
      "Karen is a creative who elevates the voice of your project to attract clients and maximize its growth.",
  },
  {
    id: 3,
    image: "/team3.webp",
    name: "Yaz",
    fullName: "Yazmin Guardado",
    role: "UX/UI Designer",
    skills: "UX/UI, Branding, Advertising",
    transition: "image3",
    experience: "14 years of experience",
    education: "Bachelor's in Digital Graphic Design and Marketing",
    contact: "664 642 9633",
    proyecto: "E-commetrica, UX/UI Designer and Branding.",
    proyecto2: "Lean Sigma Academy, Senior Designer and Community Manager.",
    proyecto3: "Alternativa 19 del Sur, Senior Designer and Marketing.",
    proyecto4: "HighBits, Junior Designer.",
    edu: "Bachelor's in Traditional Design and Psychology of Design.",
    edu2: "Bachelor's in Digital Graphic Design and Marketing.",
    testimonio:
      "Working with Yazmin was a pleasure. She has an incredible ability to understand what the user needs and translate it into visual designs that are not only attractive but also easy to use. Her work has made our platform much more intuitive and enjoyable for users.",
    testimonio2:
      "Yazmin has a gift for design. Her attention to detail and ability to transform ideas into clean and functional interfaces truly make a difference. She always keeps the user experience in mind, making the final product impeccable.",
    description:
      "Yaz is an expert in user experience with creative designs that attract and achieve your business goals.",
  },
  {
    id: 4,
    image: "/team4.webp",
    name: "Juan",
    fullName: "Juan M. González",
    role: "CEO & Consultant",
    skills: "WebMaster, Project Manager, Ecommerce",
    transition: "image4",
    experience: "8 years of experience",
    education: "Master's in Applied Economics",
    contact: "664 642 9633",
    proyecto: "E-commetrica, Ecommerce Consultant and Web Developer.",
    proyecto2:
      "Border Grower, Ecommerce Director and Programmer in R and Liquid.",
    proyecto3: "Digital Lab Agency, Ecommerce Developer.",
    proyecto4: "Guarantee Solar, Digital Marketing Specialist.",
    edu: "Bachelor's in International Business.",
    edu2: "Master's in Applied Economics.",
    testimonio:
      "Juan is an expert in ecommerce and web development. He has worked on large-scale projects and has successfully positioned brands in the digital market.",
    testimonio2:
      "His experience in ecommerce development and his ability to position brands in the digital market make him an expert in the field.",
    description:
      "Juan is an expert in SEO, optimizing positioning and the digital ecosystem to grow your business.",
  },
  {
    id: 5,
    image: "/team4.webp",
    name: "Jesus",
    fullName: "Juan M. González",
    role: "CEO & Consultant",
    skills: "WebMaster, Project Manager, Ecommerce",
    transition: "image4",
    experience: "8 years of experience",
    education: "Master's in Applied Economics",
    contact: "664 642 9633",
    proyecto: "E-commetrica, Ecommerce Consultant and Web Developer.",
    proyecto2:
      "Border Grower, Ecommerce Director and Programmer in R and Liquid.",
    proyecto3: "Digital Lab Agency, Ecommerce Developer.",
    proyecto4: "Guarantee Solar, Digital Marketing Specialist.",
    edu: "Bachelor's in International Business.",
    edu2: "Master's in Applied Economics.",
    testimonio:
      "Juan is an expert in ecommerce and web development. He has worked on large-scale projects and has successfully positioned brands in the digital market.",
    testimonio2:
      "His experience in ecommerce development and his ability to position brands in the digital market make him an expert in the field.",
    description:
      "Juan is an expert in SEO, optimizing positioning and the digital ecosystem to grow your business.",
  },
  {
    id: 6,
    image: "/team4.webp",
    name: "Carlos",
    fullName: "Juan Carlos",
    role: "CEO & Consultant",
    skills: "WebMaster, Project Manager, Ecommerce",
    transition: "image4",
    experience: "8 years of experience",
    education: "Master's in Applied Economics",
    contact: "664 642 9633",
    proyecto: "E-commetrica, Ecommerce Consultant and Web Developer.",
    proyecto2:
      "Border Grower, Ecommerce Director and Programmer in R and Liquid.",
    proyecto3: "Digital Lab Agency, Ecommerce Developer.",
    proyecto4: "Guarantee Solar, Digital Marketing Specialist.",
    edu: "Bachelor's in International Business.",
    edu2: "Master's in Applied Economics.",
    testimonio:
      "Juan is an expert in ecommerce and web development. He has worked on large-scale projects and has successfully positioned brands in the digital market.",
    testimonio2:
      "His experience in ecommerce development and his ability to position brands in the digital market make him an expert in the field.",
    description:
      "Juan is an expert in SEO, optimizing positioning and the digital ecosystem to grow your business.",
  },
];
const member = teamMembers.find((member) => {
  const memberMap = {
    Kevin: 1,
    Karen: 2,
    Yaz: 3,
    Juan: 4,
    Jesus: 5,
    Carlos: 6,
  };
  return member.id === memberMap[id];
});
---

<Layout title={`Team - ${id}`}>
  <section
    class="container mx-auto p-4 grid grid-cols-1 md:grid-cols-3 px-8 gap-8"
  >
    <div class="md:col-span-3 mb-4 hidden md:block">
      <a
        href="javascript:history.back()"
        class="flex items-center text-[#861453] hover:text-[#861453]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"></path>
        </svg>
        Volver
      </a>
    </div>
    <div
      class="col-span-1 flex flex-col items-center space-y-4 border-2 border-[#861453] p-4 rounded-lg shadow-md"
    >
      <img
        src={member.image}
        transition:name={member.transition}
        class="h-80 w-80 object-cover rounded-full shadow-lg border-2 border-[#861453]"
      />
      <h1 class="text-3xl font-bold text-center text-[#861453]">
        {member.fullName}
      </h1>
      <div class="text-lg">
        <strong>Work Station:</strong>
        <span class="text-[#861453] font-semibold">{member.role}</span>
      </div>
      <div class="text-lg">
        <strong>Skills:</strong>
        <span class="text-[#861453] font-semibold">{member.skills}</span>
      </div>
      <div class="text-lg">
        <strong>Experience:</strong>
        <span class="text-[#861453] font-semibold">{member.experience}</span>
      </div>
      <div class="text-lg">
        <strong>Education:</strong>
        <span class="text-[#861453] font-semibold">{member.education}</span>
      </div>
      <div class="text-lg">
        <strong>Contact:</strong>
        <span class="text-[#861453] font-semibold">{member.contact}</span>
      </div>
    </div>
    <div class="col-span-2 space-y-8">
      {
        member.bio && (
          <div>
            <h2 class="font-bold text-lg mb-2">About {member.fullName}</h2>
            <p class="text-justify">{member.bio}</p>
          </div>
        )
      }
      <div>
        <h2 class="font-bold text-lg mb-2">Recent Projects</h2>
        <ul class="list-disc list-inside">
          {member.proyecto && <li class="text-justify">{member.proyecto}</li>}
          {member.proyecto2 && <li class="text-justify">{member.proyecto2}</li>}
          {member.proyecto3 && <li class="text-justify">{member.proyecto3}</li>}
          {member.proyecto4 && <li class="text-justify">{member.proyecto4}</li>}
          {member.proyecto5 && <li class="text-justify">{member.proyecto5}</li>}
        </ul>
        <div>
          <h2 class="font-bold text-lg mb-2">Education</h2>
          <ul class="list-disc list-inside">
            {member.edu && <li class="text-justify">{member.edu}</li>}
            {member.edu2 && <li class="text-justify">{member.edu2}</li>}
          </ul>
        </div>
        <daiv>
          <h2 class="font-bold text-lg mb-2">Testimonies</h2>
          {
            member.testimonio && (
              <blockquote class="border-l-4 border-[#861453] pl-4 italic text-justify">
                {member.testimonio}
              </blockquote>
            )
          }
          {
            member.testimonio2 && (
              <blockquote class="border-l-4 border-[#861453] pl-4 italic text-justify mt-4">
                {member.testimonio2}
              </blockquote>
            )
          }
        </daiv>
        {
          /*
      <div>

        <h2 class="font-bold text-lg mb-2">Publicaciones</h2>
        <ul class="list-disc list-inside">
          <li class="text-justify">{member.publi}</li>
          <li class="text-justify">{member.publi2}</li>
          <li class="text-justify">{member.publi3}</li>
        </ul>
      </div>
      */
        }
      </div>
    </div>
    <VCF member={member} client:visible />
  </section>
</Layout>
